@media(max-width: 1025px) {

    .cabecalho .logo {
        max-width: 290px;
    }

    .selecao-personagens {
        flex-direction: row;
        max-width: 90%;
        margin: 0 auto;
        gap: 2px;
    }

    .selecao-personagens .personagens .titulo {
        font-size: 15px;
    }

    .lista-personagens .personagem img {
        width: 80px;
    }

    .personagem-selecionado .personagem-maior {
        width: 350px;
        height: 350px;
    }

    .selecao-personagens .lista-personagens {
        gap: 9px;
    }

    .personagem-selecionado .descricao-personagem {
        font-size: 16px;
        width: 80%;
        margin: 20px auto;
    }
}

@media(max-width: 768px) {

    .selecao-personagens {
        flex-direction: column-reverse;
    }

    .lista-personagens .personagem img {
        width: 60px;
    }

    .personagem-selecionado .descricao-personagem {
        font-size: 18px;
        width: 90%;
    }
}

@media(max-width: 576px) {

    .cabecalho .logo {
        max-width: 190px;
    }

    .personagem-selecionado .personagem-maior {
        width: 250px;
        height: 250px;
    }

    .personagem-selecionado .descricao-personagem {
        font-size: 15px;
        width: 90%;
    }
}