body {
    background-color: black;
    font-family: 'Gill Sans Italic';
    color: #fff;
}

body::before {
    content: "";
    background-image: url(../imagens/bg-desktop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.cabecalho {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.selecao-personagens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: calc(100vh - 190px);

}

.selecao-personagens .lista-personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.selecao-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 625px;
    gap: 25px;
}

.selecao-personagens .personagens .titulo {
    font-size: 20px;
    letter-spacing: 4px;
    border-bottom: 2px solid #FFDA00;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.lista-personagens .personagem {
    -webkit-box-shadow: 6px 3px 8px 1px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 6px 3px 8px 1px rgba(0, 0, 0, 0.61);
    box-shadow: 6px 3px 8px 1px rgba(0, 0, 0, 0.61);
}

.lista-personagens .personagem img {
    width: 100%;
    height: 100%;
}

.lista-personagens .personagem.selecionado {
    box-shadow: 0px 0px 24px 5px #E30020;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.selecao-personagens .personagem-selecionado {
    text-align: center;
    max-height: 530px;    
}

.personagem-selecionado .personagem-maior {
    width: 350px;
    height: 420px;    
}

.personagem-selecionado .nome-personagem {
    border-bottom: 2px solid #FFDA00;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 5px;
}

.personagem-selecionado .descricao-personagem {
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    margin-top: 20px;
    width: 420px;
}